In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd

In [2]:
# Base URLs from the readme.
urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

In [3]:
# Page numbers given in the readme.
pgs_2016 = 154
pgs_2017 = 147
pgs_2018 = 85
pgs_2019 = 113

pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690

In [4]:
def marathon(url, pages):
    """Returns a DataFrame of all pages of a rocknroll marathon."""
    final_list = []
    df = pd.DataFrame()
    for p in range(1, pages + 1): # pages + 1 because range stops at the last number
        response = requests.post(url + str(p)) # Goes to URL and adds p to end of it to select page.
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
        result_list = pd.read_html(str(tables[0]))
        final_list = result_list[0]
        df = df.append(final_list, ignore_index = True)
    return df

In [5]:
full_2016 = marathon(urlbase_2016, pgs_2016)

In [6]:
type(full_2016)

pandas.core.frame.DataFrame

In [7]:
#full_2016 = pd.DataFrame(full_2016, columns = ['Overall', 'Bib', 'Name', 'Time'])

In [8]:
full_2016.head(26)

    Overall    Bib                 Name      Time
0         1      1       Scott Wietecha  02:25:42
1         2      3        Brian Shelton  02:34:43
2         3   1047    Christopher Capps  02:38:43
3         4   1052         Jason Grimes  02:45:06
4         5   1046          David Adams  02:47:28
5         6   1049      Matthew Meinema  02:47:36
6         7   1044          Seth Carley  02:48:22
7         8   1092           Ben Becker  02:52:19
8         9   1057       Jonathan Mason  02:53:38
9        10   1058           Matt Treat  02:53:48
10       11   1067       Kevin Selinsky  02:55:49
11       12   1069        Cole Bataille  02:56:56
12       13   1087       Joseph Shields  02:58:53
13       14   1108       Melanie Kulesz  02:59:09
14       15   2014         Kieran Frost  02:59:30
15       16   1155          Brian Wiest  02:59:51
16       17   1048       Braden Robbins  03:00:26
17       18   1080            Bo Brewer  03:01:09
18       19  27408        Bryan Larison  03:01:23
19       20    101          Megan Hovis  03:04:49
20       21   2003            Ryan Ladd  03:05:51
21       22   1081           Mark Temme  03:06:21
22       23   1137      Alexandre Jamar  03:06:22
23       24   1142        Shandra Moore  03:08:32
24       25   1085   Thomas Von Der Ohe  03:08:39
25       26   1068  Christopher Chidley  03:08:53

In [9]:
full_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3842 entries, 0 to 3841
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  3842 non-null   int64
 1   Bib      3842 non-null   int64
 2   Name     3842 non-null   object
 3   Time     3842 non-null   object
dtypes: int64(2), object(2)
memory usage: 120.2+ KB

In [31]:
full_2016.to_csv('full_2016.csv', index = False)

In [10]:
full_2017 = marathon(urlbase_2017, pgs_2017)

In [11]:
full_2017.head()

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28
2        3  1147  Daniel Everett  03:00:55
3        4  1029   Khris Vickroy  03:04:47
4        5  1119  Marcus Dilallo  03:04:53

In [12]:
full_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3651 entries, 0 to 3650
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  3651 non-null   int64
 1   Bib      3651 non-null   int64
 2   Name     3651 non-null   object
 3   Time     3651 non-null   object
dtypes: int64(2), object(2)
memory usage: 114.2+ KB

In [32]:
full_2017.to_csv('full_2017.csv', index = False)

In [13]:
full_2018 = marathon(urlbase_2018, pgs_2018)

In [14]:
full_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2115 entries, 0 to 2114
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  2115 non-null   int64
 1   Bib      2115 non-null   int64
 2   Name     2115 non-null   object
 3   Time     2115 non-null   object
dtypes: int64(2), object(2)
memory usage: 66.2+ KB

2018 marathon had 1000 less runners.

In [33]:
full_2018.to_csv('full_2018.csv', index = False)

In [15]:
full_2019 = marathon(urlbase_2019, pgs_2019)

In [16]:
full_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  2811 non-null   int64
 1   Bib      2811 non-null   int64
 2   Name     2811 non-null   object
 3   Time     2811 non-null   object
dtypes: int64(2), object(2)
memory usage: 88.0+ KB

In [34]:
full_2019.to_csv('full_2019.csv', index = False)

In [18]:
half_2016 = marathon(urlbase_half_2016, pgs_half_2016)

In [19]:
half_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22429 entries, 0 to 22428
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  22429 non-null  int64
 1   Bib      22429 non-null  int64
 2   Name     22429 non-null  object
 3   Time     22429 non-null  object
dtypes: int64(2), object(2)
memory usage: 701.0+ KB

In [35]:
half_2016.to_csv('half_2016.csv', index = False)

In [20]:
half_2017 = marathon(urlbase_half_2017, pgs_half_2017)

In [21]:
half_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22292 entries, 0 to 22291
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  22292 non-null  int64
 1   Bib      22292 non-null  int64
 2   Name     22292 non-null  object
 3   Time     22292 non-null  object
dtypes: int64(2), object(2)
memory usage: 696.8+ KB

In [36]:
half_2017.to_csv('half_2017.csv', index = False)

In [22]:
half_2018 = marathon(urlbase_half_2018, pgs_half_2018)

In [23]:
half_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14940 entries, 0 to 14939
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  14940 non-null  int64
 1   Bib      14940 non-null  int64
 2   Name     14940 non-null  object
 3   Time     14940 non-null  object
dtypes: int64(2), object(2)
memory usage: 467.0+ KB

In [37]:
half_2018.to_csv('half_2018.csv', index = False)

2018 Half Marathon had about 7000 less runners when compared to 2016 and 2017.

In [24]:
half_2019 = marathon(urlbase_half_2019, pgs_half_2019)

In [25]:
half_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17236 entries, 0 to 17235
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Overall  17236 non-null  int64
 1   Bib      17236 non-null  int64
 2   Name     17236 non-null  object
 3   Time     17236 non-null  object
dtypes: int64(2), object(2)
memory usage: 538.8+ KB

In [38]:
half_2019.to_csv('half_2019.csv', index = False)